# Blacklist all in this folder
/*
# Except for these
!.iterm2_shell_integration.fish
!.setup
!.gitignore
!.gitconfig
!.config/
.config/*
!.config/nvim/
!.config/fish/
!.config/ghostty/
.config/nvim/.netrwhist
