# set your user tokens as environment variables, such as ~/.secrets
# See the README for examples.
[color]
  ui = true

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red
  new = green

[alias]
  # log
  l = log --graph --format=format:'%C(blue)%h%C(reset) %C(green)(%ar)%C(reset) %C(black)%s%C(reset) %C(magenta)[%an]%C(reset)%C(yellow)%d%C(reset)'
  identity = "! git config user.name \"$(git config user.$1.name)\"; git config user.email \"$(git config user.$1.email)\"; git config user.signingkey \"$(git config user.$1.signingkey)\"; :"

[format]
  pretty = format:%C(blue)%ad%Creset %C(yellow)%h%C(green)%d%Creset %C(blue)%s %C(magenta) [%an]%Creset

[core]
  editor = nvim
  excludesfile = /Users/treppo/.gitignore_global
  autocrlf = input

[rerere]
  # Remember my merges
  # http://gitfu.wordpress.com/2008/04/20/git-rerere-rereremember-what-you-did-last-time/
  enabled = true

[merge]
  ff = only
  # I pretty much never mean to do a real merge, since I use a rebase workflow.
  # Note: this global option applies to all merges, including those done during a git pull
  # https://git-scm.com/docs/git-config#git-config-mergeff

  conflictstyle = diff3
  # Standard diff is two sets of final changes. This introduces the original text before each side's changes.
  # https://git-scm.com/docs/git-config#git-config-mergeconflictStyle

[commit]
  gpgSign = true
  # "other people can trust that the changes you've made really were made by you"
  # https://help.github.com/articles/about-gpg/
  # https://git-scm.com/docs/git-config#git-config-commitgpgSign

[push]
	default = current
  # "push the current branch to update a branch with the same name on the receiving end."
  # https://git-scm.com/docs/git-config#Documentation/git-config.txt-pushdefault

  followTags = true
  # Because I get sick of telling git to do it manually
  # https://git-scm.com/docs/git-config#git-config-pushfollowTags

[pull]
  ff = only

[status]
  showUntrackedFiles = all
  # Sometimes a newly-added folder, since it's only one line in git status, can slip under the radar.
  # https://git-scm.com/docs/git-config#git-config-statusshowUntrackedFiles

[pager]
	difftool = true

[credential]
  helper = osxkeychain

[tag]
  forceSignAnnotated = true

[user]
  	useConfigOnly = true
  	name = Christian Treppo
	email = christian@treppo.org
	signingkey = /Users/treppo/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/PublicKeys/d099f82a08def28bf8c14f811e230280.pub
[init]
	defaultBranch = main
[includeIf "gitdir:~/Developer/rillet/"]
	path = ~/Developer/rillet/.gitconfig
[diff]
	external = difft
	tool = difftastic

[difftool]
        prompt = false

[difftool "difftastic"]
        cmd = difft "$LOCAL" "$REMOTE"
[gpg]
	format = ssh
